body {
  margin: 0;
}

.left {
  -webkit-user-select: none;
}

.list:hover {
  background: #fff !important;
}

.editorWrapper::after {
  content: "";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
}

.editorWrapper > div {
  display: none;
}

.editorContainer::after {
  content: "";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
}

.editorContainer > div {
  float: left;
}

.show {
  display: block !important;
}

.ck {
  width: 85%;
}


.editorWrapper:hover .ck {
  box-shadow:inset 0 0 0 2px rgba(0, 226, 255, 0.4);
  border-radius: 4px;
}

.editorWrapper:hover .iconLeft {
  filter: opacity(1);
}

.editorWrapper:hover .iconRight {
  filter: opacity(1);
}

.iconLeft {
  filter: opacity(0);
  transition: all 0.2s;
  cursor: move;
  background: #e8e8e8e8;
  text-align: center;
  margin-right: 5px;
}

.iconRight {
  filter: opacity(0);
  transition: all 0.2s;
  background: #e8e8e8e8;
}

.item {
  filter: opacity(0);
  transition: all .3s;
  overflow: hidden;
  height: 0;
}

.itemShow {
  filter: opacity(1);
  height: auto;
}

.item p {
  z-index: 999;
}

.item p:hover {
  background: #bfbfbf;
}
